@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari et Edge */
}

.search {
  @apply h-12 bg-white shadow-md rounded-lg flex justify-between items-center p-3 absolute;
  width: 90%;
  top: 22rem;
  left: 5%;
}

.topNav {
  @apply flex justify-between items-center mt-6 overflow-x-scroll;
  width: 100%;
}

.card {
  @apply rounded-2xl mx-auto shadow-lg bg-gray-200;
  width: 90%;
}

.cover {
  @apply h-96 flex justify-between;
  background-image: url('../assets/img/cover.jpg');
  background-position: center;
  background-size: contain;
}

.search input::placeholder {
  @apply text-gray-600 font-bold;
}

.active {
  @apply text-white bg-green-600 rounded-t-lg p-3 h-16 relative bottom-6;
}
