@tailwind base;
@tailwind components;
@tailwind utilities;


.search {
  @apply mx-auto h-8 bg-white shadow-md rounded-lg mt-4 flex justify-center items-center p-3;
  width: 90%;
}

.topNav {
  @apply flex justify-between items-center mt-6 overflow-x-scroll;
  width: 100%;
}

.card {
  @apply rounded-2xl mx-auto shadow-lg rounded-xl;
  width: 98%;
}
